@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');  
@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css');  
@import url('https://unicons.iconscout.com/release/v2.1.9/css/unicons.css');   
  
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.section{  
  font-family: 'Poppins', sans-serif; 
  background-color: #f3d2c1;
    display: block;  
   }  
 
   [type="checkbox"]:checked,  
   [type="checkbox"]:not(:checked){  
    position: absolute;  
    left: -9999px;  
   }  
   .checkbox:checked + label,  
   .checkbox:not(:checked) + label{  
    position: relative;  
    display: block;  
    text-align: center;  
    width: 60px;  
    height: 16px;  
    border-radius: 8px;  
    padding: 0;  
    margin: 10px auto;  
    cursor: pointer;  
    background-color: #f2eef5;  
   }  
   .checkbox:checked + label:before,  
 .checkbox:not(:checked) + label:before{  
  position: absolute;  
  display: block;  
  width: 36px;  
  height: 36px;  
  border-radius: 50%;  
  color: #f2eef5;  
  background-color: #356CB1;  
  font-family: 'unicons';  
  content: '\eb4f';  
  z-index: 20;  
  top: -10px;  
  left: -10px;  
  line-height: 36px;  
  text-align: center;  
  font-size: 24px;  
  transition: all 0.5s ease;  
 }  
 .checkbox:checked + label:before {  
  transform: translateX(44px) rotate(-270deg);  
 }  
 .card-3d-wrap {  
  position: relative;  
  width: 440px;  
  max-width: 100%;  
  height: 400px;  
  -webkit-transform-style: preserve-3d;  
  transform-style: preserve-3d;  
  perspective: 800px;  
  margin-top: 60px;  
 }  
 .card-3d-wrapper {  
  width: 100%;  
  height: 100%;  
  position:absolute;    
  top: 0;  
  left: 0;   
  -webkit-transform-style: preserve-3d;  
  transform-style: preserve-3d;  
  transition: all 600ms ease-out;   
 }  
 .card-back{
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='440' height='400' preserveAspectRatio='none' viewBox='0 0 440 400'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1017%26quot%3b)' fill='none'%3e%3crect width='440' height='400' x='0' y='0' fill='%231e3266'%3e%3c/rect%3e%3cpath d='M462.00000000000006 400L0 400 L0 316.39Q2.91 297.3%2c 22 300.21Q43.2 284.74%2c 58.666666666666664 305.94Q81.52 306.79%2c 80.66666666666666 329.64Q87.63 314.61%2c 102.66666666666666 321.57Q108.31 305.21%2c 124.66666666666666 310.85Q136.03 285.55%2c 161.33333333333331 296.92Q190.11 289.03%2c 197.99999999999997 317.8Q216.16 313.97%2c 219.99999999999997 332.13Q220.72 296.18%2c 256.66666666666663 296.9Q284.63 288.2%2c 293.3333333333333 316.16Q312.34 313.17%2c 315.3333333333333 332.18Q317.16 297.34%2c 352 299.17Q369.83 280.34%2c 388.6666666666667 298.17Q416.39 289.23%2c 425.33333333333337 316.96Q440.31 295.27%2c 462.00000000000006 310.24z' fill='%23182f5d'%3e%3c/path%3e%3cpath d='M447.33333333333337 400L0 400 L0 353.77Q16.02 333.12%2c 36.666666666666664 349.14Q38 328.48%2c 58.666666666666664 329.81Q90.18 324.65%2c 95.33333333333333 356.16Q100.24 339.07%2c 117.33333333333333 343.98Q120.44 325.09%2c 139.33333333333331 328.19Q161.05 313.24%2c 175.99999999999997 334.96Q203.64 325.94%2c 212.66666666666663 353.58Q218.46 337.37%2c 234.66666666666663 343.16Q245.22 317.05%2c 271.3333333333333 327.6Q299.68 319.28%2c 308 347.63Q329.23 332.19%2c 344.6666666666667 353.42Q345.75 332.5%2c 366.6666666666667 333.58Q372.6 317.51%2c 388.6666666666667 323.45Q407.99 306.1%2c 425.33333333333337 325.42Q448.72 326.81%2c 447.33333333333337 350.2z' fill='%2325467d'%3e%3c/path%3e%3cpath d='M440.00000000000006 400L0 400 L0 361.45Q15.68 355.13%2c 22 370.8Q23.25 350.05%2c 44 351.29Q70.59 341.21%2c 80.66666666666666 367.8Q99.96 365.09%2c 102.66666666666666 384.38Q106.59 366.31%2c 124.66666666666666 370.23Q129.6 353.16%2c 146.66666666666666 358.09Q164.06 353.49%2c 168.66666666666666 370.88Q185.91 366.12%2c 190.66666666666666 383.36Q193.6 364.29%2c 212.66666666666666 367.22Q225.36 343.24%2c 249.33333333333331 355.93Q259.04 343.63%2c 271.3333333333333 353.34Q304.07 349.41%2c 308 382.14Q318.1 355.57%2c 344.6666666666667 365.67Q347.04 346.04%2c 366.6666666666667 348.41Q402.27 347.35%2c 403.33333333333337 382.95Q412.86 355.81%2c 440.00000000000006 365.34z' fill='%23356cb1'%3e%3c/path%3e%3cpath d='M462 400L0 400 L0 383.18Q22.43 383.61%2c 22 406.04Q17.61 379.65%2c 44 375.27Q69.58 378.85%2c 66 404.42Q69.64 371.4%2c 102.66666666666666 375.04Q124.01 374.38%2c 124.66666666666666 395.72Q148.85 383.23%2c 161.33333333333331 407.41Q169.98 394.06%2c 183.33333333333331 402.7Q195.84 378.54%2c 219.99999999999997 391.05Q223.54 372.59%2c 241.99999999999997 376.13Q272.73 370.19%2c 278.66666666666663 400.92Q282.39 382.64%2c 300.66666666666663 386.37Q313.2 362.24%2c 337.3333333333333 374.77Q366.75 367.52%2c 374 396.94Q390.48 391.42%2c 396 407.9Q396.36 386.26%2c 418 386.62Q423.44 370.06%2c 440 375.51Q458.57 372.08%2c 462 390.65z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1017'%3e%3crect width='440' height='400' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
 }
 .card-front{
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='440' height='400' preserveAspectRatio='none' viewBox='0 0 440 400'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1039%26quot%3b)' fill='none'%3e%3crect width='440' height='400' x='0' y='0' fill='rgba(66%2c 133%2c 244%2c 1)'%3e%3c/rect%3e%3cpath d='M462 400L0 400 L0 274.87Q25.98 278.85%2c 22 304.83Q34.44 295.26%2c 44 307.7Q47.41 289.11%2c 66 292.51Q76.05 265.9%2c 102.66666666666666 275.95Q128.98 280.26%2c 124.66666666666666 306.57Q117.9 277.8%2c 146.66666666666666 271.03Q165.62 253.32%2c 183.33333333333331 272.27Q202.31 269.25%2c 205.33333333333331 288.23Q230.15 276.38%2c 241.99999999999997 301.2Q265.54 288.07%2c 278.66666666666663 311.61Q284.55 295.49%2c 300.66666666666663 301.37Q306.07 284.77%2c 322.66666666666663 290.18Q323.2 268.72%2c 344.66666666666663 269.25Q362.96 250.88%2c 381.3333333333333 269.17Q404.15 269.99%2c 403.3333333333333 292.81Q419.94 287.41%2c 425.3333333333333 304.02Q427.4 269.42%2c 462 271.49z' fill='rgba(60%2c 186%2c 84%2c 1)'%3e%3c/path%3e%3cpath d='M440.00000000000006 400L0 400 L0 337.06Q-5 310.06%2c 22 305.07Q40.57 286.97%2c 58.666666666666664 305.54Q87.8 298%2c 95.33333333333333 327.13Q115.39 325.19%2c 117.33333333333333 345.25Q119.07 310.32%2c 154 312.05Q175.21 311.26%2c 176 332.47Q189.17 308.97%2c 212.66666666666666 322.14Q243.2 316.01%2c 249.33333333333331 346.54Q260.54 321.08%2c 286 332.28Q287.24 311.51%2c 308 312.75Q326.82 294.9%2c 344.6666666666667 313.72Q375.41 307.8%2c 381.33333333333337 338.54Q392.82 313.36%2c 418.00000000000006 324.85Q421.65 306.5%2c 440.00000000000006 310.14z' fill='rgba(244%2c 194%2c 13%2c 1)'%3e%3c/path%3e%3cpath d='M454.6666666666667 400L0 400 L0 361.23Q5.19 344.43%2c 22 349.62Q33.09 324.05%2c 58.666666666666664 335.14Q77.17 331.64%2c 80.66666666666666 350.15Q103.69 351.17%2c 102.66666666666666 374.19Q102.13 336.99%2c 139.33333333333331 336.45Q177.65 338.1%2c 175.99999999999997 376.41Q173.34 351.75%2c 197.99999999999997 349.09Q210.83 325.25%2c 234.66666666666663 338.08Q263.29 344.7%2c 256.66666666666663 373.32Q263.72 358.37%2c 278.66666666666663 365.42Q284.11 334.2%2c 315.3333333333333 339.65Q337.28 339.6%2c 337.3333333333333 361.55Q350.21 337.76%2c 374 350.63Q378.56 333.19%2c 396 337.74Q425.43 345.17%2c 418 374.6Q433.85 353.79%2c 454.6666666666667 369.64z' fill='rgba(219%2c 50%2c 54%2c 1)'%3e%3c/path%3e%3cpath d='M469.33333333333337 400L0 400 L0 371.47Q31.37 366.18%2c 36.666666666666664 397.55Q53.5 392.38%2c 58.666666666666664 409.21Q65.66 394.2%2c 80.66666666666666 401.19Q78.72 377.24%2c 102.66666666666666 375.29Q129.02 364.98%2c 139.33333333333331 391.33Q160.88 390.88%2c 161.33333333333331 412.43Q156.96 386.06%2c 183.33333333333331 381.68Q196.29 357.97%2c 219.99999999999997 370.93Q252.02 366.28%2c 256.66666666666663 398.3Q260.64 380.27%2c 278.66666666666663 384.24Q288.99 357.9%2c 315.3333333333333 368.22Q345.68 361.9%2c 352 392.25Q377.22 380.8%2c 388.6666666666667 406.02Q387.59 382.94%2c 410.6666666666667 381.87Q415.99 365.19%2c 432.6666666666667 370.52Q457.7 358.88%2c 469.33333333333337 383.91z' fill='rgba(72%2c 133%2c 237%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1039'%3e%3crect width='440' height='400' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
 }
 .card-front, .card-back {  
  width: 100%;  
  height: 100%;
  background-position: bottom center;  
  background-repeat: no-repeat;  
  background-size: 300%;  
  position: absolute;  
  border-radius: 6px;  
  left: 0;  
  top: 0;  
  -webkit-transform-style: preserve-3d;  
  transform-style: preserve-3d;  
  -webkit-backface-visibility: hidden;  
  -moz-backface-visibility: hidden;  
  -o-backface-visibility: hidden;  
  backface-visibility: hidden;  
 }  
 .card-front{
   z-index: 2;
 }
 .card-back {  
  transform: rotateY(180deg);
  z-index: 1;
 }  
 .checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {  
  transform: rotateY(180deg);  
 }
 .center-wrap{  
  position: absolute;  
  width: 100%;  
  padding: 0 35px;  
  top: 50%;  
  left: 0;  
  transform: translate3d(0, -50%, 35px) perspective(100px);  
  z-index: 20;  
  display: block;  
 } 
